*/node_modules

builds/build
*/reticulum_phone.js

Tasks.md
Masters.md

.imdone
Gemfile.lock

client/bob.html
client/sipml5.html
client/sipml5call.html
client/sipml5.min.js

tmp/
logs/
debug/
figures/
appliance/